body {font-family: poppins, sans-serif;}



h1, h2, h3, h4, h5, h6 {font-family: poppins, sans-serif; color: #15404e;}

p {font-family: poppins, sans-serif;}

    .slide {
      opacity: 0;
      transition: opacity 0.6s ease-in-out;
    }
    .slide.active {
      opacity: 1;
    }